{% extends 'base.html.twig' %}

{% block title %}Registro - Cerrado{% endblock %}

{% block body %}

    <div class="container">

        <div class="mt-5">
            <img class="img" src="{{ asset('img/dib1.png') }}" alt="Figura" height="60px">
            <h2 class="d-inline ml-4"> Taller Euclides & Hilbert</h2>
        </div>
        <div class="alert alert-danger mt-5 p-4" role="alert"><h1 >Registro cerrado</h1></div>
    </div>

{% endblock %}